<div class="hero-unit">
  <h1>Cheerio!</h1>
  <p>You still have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
  <h3>Ok, seriously, help us out! If you're a meetup member and there's something you'd like to see here, put in a <a href="https://github.com/angulardc/angulardc.github.com/issues" class="btn">ticket </a> Then go visit the repo and <a class = 'btn' target="_blank" href="http://www.github.com/angulardc/select-fork">get forking!</a></h3>
  <h3>
</div>
